.page {
  padding: 5rem
}

.destination-list {
  padding-top: 2rem;
}

.destination-list-item {
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 2rem;

  .card-body {
    padding: 1rem 4rem;
  }

}


form {
  .form-group {
    .btn .btn-link{
      width: 10rem;
    }

    .btn-link {
      margin-left: 0;
      width: 12rem;
    }
  }
  .btn-link {
    width: 10rem;
  }
  .btn-add, .btn-home {
    width: 20rem;
    margin-bottom: 2rem;
  }
  .btn-remove {
    width: 5rem;
  }

}

.form-group {
  label {
    text-align: center;
  }
}

